{% extends 'visitor.html.twig' %}

{% block title %}Hello VisitorController!{% endblock %}

{% block body %}
<div class="container">
<div class="card" style="width: 18rem;margin: auto;margin-top: 50px;">
  <img src="{{ asset('img/karim.jpg') }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Karim GARGOURI</h5>
    <p class="card-text">Bonjour tous le monde ! j'espère que vous allez bien !</p>
    <a href="{{ path('dashboard') }}" class="btn btn-primary">Go à l'admin</a>
  </div>
</div>
</div>
{% endblock %}
