{% extends 'admin.html.twig' %}

{% block title %}Modifier : {{ vente.nCommande }}{% endblock %}
{% block titre %}Modifier : {{ vente.nCommande }}{% endblock %}
{% block btnAction %}
<div class="col">{{ include('ventes/_delete_form.html.twig') }}</div>
{% endblock %}

{% block body %}
    {{ include('ventes/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
{% endblock %}
